html, body
{
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

#main-content img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    display: block;
}

#main-content {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 30%;
}

#main-content td {
    text-align: center;
    align-items: center;
    align-content: center;
}
